<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>app.sifrious.molly.surfaces</string>
  <key>CFBundleName</key>
  <string>MollySurfaces</string>
  <key>CFBundlePackageType</key>
  <string>BNDL</string>
  <key>CFBundleExecutable</key>
  <string>MollySurfaces</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1.0</string>
  <key>BloomPluginSurfaceProvider</key>
  <string>MollySurfaceProvider</string>
</dict>
</plist>
